<!DOCTYPE html>
<html ng-app="wordnetApp">
<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<!-- Boostrap CSS -->
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  <!-- Custom CSS -->
  <link href="css/graph.css" rel="stylesheet">
  <link href="css/grayscale.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
<!-- Cytoscape and jquery-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
  <!-- Custom Fonts -->
  <link href="font/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <!-- Js files -->
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/GraphManager.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/bootbox.min.js"></script>

		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
		<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
		<!-- <script src="../cytoscape.js/build/cytoscape.js"></script> -->
		<script src="cytoscape-qtip.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="WordnetAppController as wordNet">

    <!-- Main panel -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <form ng-submit="wordNet.send()">
        <div  class="col-sm-5">
          <div class="navbar-header input-text">
            <textarea class="form-control textarea-bigger" type="text" ng-model="wordNet.input" required></textarea>
          </div>
        </div>
        <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
          <button type="submit" class="btn btn-default btn-lg"> Wyślij
          </button>
        </div>
      </form>
       <div class="collapse navbar-collapse navbar-left navbar-main-collapse shift-text-left">
         <button class="btn  btn-default btn-lg" ng-click="wordNet.filter()"> Filtruj
         </button>
       </div>
       <div class="col-sm-1">
         <div class="navbar-collapse nabar-left navbar-main-collapse padding-zero">
           <input class="btn btn-default btn-lg" type="file" id="file-input">
         </div>
       </div>
       <form class="navbar-collapse navbar-right navbar-main-collapse shift-text-right">
         <a href="#contact">
           <button type="button" class="btn btn-default btn-lg"> O nas
             <i class="fa fa-angle-double-down animated"></i>
           </button>
         </a>
       </form>
    </nav>

    <!-- Intro header -->
  <header class="intro" ng-hide="wordNet.graphReady">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">WordnetApp</h1>
                        <p class="intro-text">Projekt: {{wordNet.info.projectName}}<br>Kurs: {{wordNet.info.courseName}}</p>
                        <p> Aby wyświetlić słowosieć dla danego słowa, wpisz je w polu tekstowym znajdującym się na górze, następnie użyj przycisku 'Wyślij'. Po wyświetleniu słowa w oknie grafu, kliknij w nie aby zobaczyć pełny graf.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Graph -->
    <div class="card border">
        <div class="main-word">
            <p ng-show="wordNet.graphReady" class="text-center intro-text margin-top"> Znaczenia słów: </p>
            <div class="main-word margin-top">
            <!-- <p class="shift-text-left "> Znaczenia słów: </p> -->
              <p ng-show="wordNet.nothingFound"> Nie znaleziono znaczeń dla danego słowa</p>
              <div id="cy"></div>
              <div id="loading">
                <span class="fa fa-refresh fa-spin"></span>
              </div>
            <p ng-repeat="description in wordNet.wordInfo">
              {{description.word}} - {{description.definition}}
              <br>
              <span ng-if="description.sample"> Przykład: {{description.sample}} </span>
              <br>
              <a ng-show="description.link" href="{{description.link}}">Źródło: {{description.link}}</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Autors -->
    <div id="contact" style="padding-top: 60px;">
    <div class="container">
      <div class="page-header">
        <h1 id="timeline">Autorzy</h1>
      </div>
      <ul class="timeline" >
        <li ng-repeat="autor in wordNet.info.autors" class="{{autor.class}}">
          <div class="timeline-badge white"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{autor.name}}</h4>
            </div>
            <div class="timeline-body">
              <p>
                 <a href="mailto: autor.contact">
              {{autor.contact}}
            </a>
                </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</body>
</html>
