body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 0px;
  width: 100%;
  left: 0;
  top: 0;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}