html, body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
}

#cy {
  height: 50%;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}

#loading {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.5em;
  font-size: 2em;
  color: #fff;
}

#loading.loaded {
  display: none;
}

/*
button {
  font-size: 2em;
  background-color: #FC4C4C;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 0.25em;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  outline: 0;
}
*/

#clear {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.25em;
  visibility: hidden;
}

#search-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  margin: 0.5em;
  width: 14em;
}

#search {
  width: 14em;
}

body.has-start #clear {
  visibility: invisible;
}

#end {
  display: none;
}

body.has-start:not(.has-end) #end {
  display: inline;
}

body.has-start:not(.has-end) #start {
  display: none;
}

body.calc #loading {
  display: block;
}

.tt-dropdown-menu {
  background: #fff;
  width: 14em;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  max-height: 20em;
  overflow: auto;
  margin-top: 0.5em;
}

.tt-dropdown-menu * {
  margin: 0;
  padding: 0;
}

.tt-suggestion {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}

.ac-name {
  font-size: 1.25em;
}

.ac-node-type,
.ac-milk,
.ac-country,
.ac-more {
  font-size: 0.8em;
}

#info {
  position: absolute;
  left: 0;
  top: 3em;
  margin: 0.5em;
  background: #bbdbf7;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  width: 14em;
  display: none;
}

#info p {
  margin: 0;
}

#linkout {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.25em;
  z-index: 999;
}

#reset,
#filter {
  width: 3em;
  margin: 0.5em;
  position: absolute;
  top: 0;
  z-index: 999;
}

#reset {
  right: 0;
}

#filter {
  right: 4em;
}

#reset i {
  transform: rotate(45deg);
}

#filters label {
  font-weight: normal;
  padding: 0 0.25em;
}

#filters strong {
  display: block;
}

#filters hr {
  margin: 0.25em 0;
}
